@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
* {
  box-sizing: border-box;
}

body {
  margin: 0%;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

header {
  margin: 5%;
  display: flex;
  justify-content: space-between;
}
header img {
  width: 145px;
  height: 47px;
}

nav {
  width: 135px;
}
nav ul {
  height: 47px;
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-size: 12px;
}
nav ul a {
  text-decoration: none;
  color: #ff6060;
}
nav ul a:visited {
  color: #ff6060;
}

footer {
  margin-top: 10px;
  background-color: black;
  color: white;
  height: 209px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer img {
  width: 122px;
  height: 39.44px;
}
footer p {
  padding-top: 15px;
  font-size: 12px;
}

.banner-home {
  height: 111px;
  position: relative;
}
@media all and (min-width: 992px) {
  .banner-home {
    height: 223px;
  }
}
.banner-home__img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  filter: brightness(0.7);
}
.banner-home__title {
  position: absolute;
  width: 217px;
  font-size: 24px;
  color: white;
  font-weight: 500;
  margin: 0;
  top: 26.5px;
  left: 16px;
}
@media all and (min-width: 992px) {
  .banner-home__title {
    width: 100%;
    text-align: center;
    font-size: 48px;
    top: 87.5px;
  }
}

.banner-about {
  height: 223px;
  margin-bottom: 10px;
}
.banner-about__img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  filter: brightness(0.7);
}

#locations {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5%;
}
@media all and (min-width: 992px) {
  #locations {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.cards-location {
  width: 100%;
  height: 255px;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}
@media all and (min-width: 992px) {
  .cards-location {
    width: 340px;
    height: 340px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 40px;
  }
}
.cards-location__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  filter: brightness(0.85);
}
.cards-location__title {
  position: absolute;
  top: 188px;
  left: 20px;
  font-size: 18px;
  color: white;
}
@media all and (min-width: 992px) {
  .cards-location__title {
    top: 268px;
  }
}

.loader {
  padding: 10px;
  border: 6px solid #ff6060;
  border-bottom-color: transparent;
  border-radius: 22px;
  animation: rotate 1s infinite linear;
  height: 0;
  width: 0;
}

.drop-down {
  margin-top: 10px;
  margin-bottom: 10px;
}
.drop-down__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  background-color: #ff6060;
  border-radius: 5px;
  color: white;
  padding-left: 10px;
  padding-right: 5px;
  position: relative;
  z-index: 1;
}
.drop-down__title h2 {
  font-size: 13px;
  font-weight: 500;
}
.drop-down__title span:hover {
  cursor: pointer;
}
.drop-down__content {
  background-color: #f7f7f7;
  border-radius: 0 0 5px 5px;
  margin-top: -5px;
  color: #ff6060;
  font-size: 12px;
  font-weight: 400;
  text-align: justify;
  padding: 20px 10px 10px 10px;
  position: relative;
  z-index: 0;
}

.carroussel {
  height: 255px;
  position: relative;
}
.carroussel__img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.carroussel__chevron-left, .carroussel__chevron-right {
  position: absolute;
  top: 102.5px;
  font-size: 50px;
  color: white;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
.carroussel__chevron-left {
  margin-left: -10px;
}
.carroussel__chevron-right {
  margin-left: -40px;
}

.star-fullfiled,
.star-empty {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}

.star-fullfiled {
  color: #ff6060;
}

.star-empty {
  color: #e3e3e3;
}

#pageNotFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ff6060;
}
#pageNotFound h1 {
  font-size: 96px;
  font-weight: 700;
  margin-bottom: 11px;
  margin-top: 200px;
}
#pageNotFound p {
  margin-top: 0;
  margin-bottom: 0;
  width: 80%;
  text-align: center;
  font-size: 18px;
}
#pageNotFound a {
  margin-top: 133px;
  color: #ff6060;
  font-size: 14px;
}

#logement {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5%;
}

.logement-info {
  color: #ff6060;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.logement-info h1 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
}
.logement-info__location {
  font-size: 14px;
}
.logement-info__tags {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 5px;
}
.logement-info__tag-name {
  background-color: #ff6060;
  color: white;
  font-size: 10px;
  border-radius: 5px;
  padding: 4px 20px 4px 20px;
  margin: 5px;
}
.logement-info__tag-name:first-child {
  margin-left: 0;
}
.logement-info__tag-name:last-child {
  margin-right: 0;
}

.logement-rate-and-host {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 16px;
  margin-top: 16px;
}
.logement-rate-and-host .host {
  display: flex;
}
.logement-rate-and-host .host__name {
  color: #ff6060;
  font-size: 12px;
  line-height: 16 px;
  text-align: right;
  margin-right: 10px;
  white-space: pre-line;
}
.logement-rate-and-host .host__picture {
  height: 32px;
  width: 32px;
}
.logement-rate-and-host .host__picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 32px;
}

.logement-description {
  width: 100%;
}

#about {
  margin: 5%;
}

/*# sourceMappingURL=style.css.map */
