#locations {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 5%;

   a {
      width: 100%;

      @include tablet-only {
         width: 300px;
      }
      @include desktop-only {
         width: 340px;
      }
   }

   @include tablet-only {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      padding: 2%;
      border-radius: 25px;
      background-color: $color-tertiary;
   }
}
