#pageNotFound {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   color: $color-primary;
   height: 40vh;
   margin-top: 20%;

   @include tablet-only {
      margin-top: 0;
   }

   .pageNotFound__title {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 90%;
   }

   h1 {
      font-size: 96px;
      font-weight: 700;
      margin: 0 0 3% 0;
   }

   p {
      margin-top: 0;
      margin-bottom: 0;
      width: 80%;
      text-align: center;
      font-size: 18px;
   }

   a {
      color: $color-primary;
      font-size: 14px;
   }
}
