@mixin font-primary {
   font-family: "Montserrat", sans-serif;
   font-weight: 500;
}

@mixin font-bold {
   font-family: "Montserrat", sans-serif;
   font-weight: 700;
}

@mixin font-thin {
   font-family: "Montserrat", sans-serif;
   font-weight: 400;
}

@mixin tablet-only {
   @media all and (min-width: map-get($breakpoints,tablet)) {
      @content;
   }
}

@mixin desktop-only {
   @media all and (min-width: map-get($breakpoints,desktop)) {
      @content;
   }
}
