.drop-down {
   margin-top: 10px;
   margin-bottom: 10px;
   overflow: hidden;

   &:hover {
      cursor: pointer;
   }

   @include desktop-only {
      font-size: 18px;
      display: flex;
      flex-direction: column;
   }

   &__title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 30px;
      background-color: $color-primary;
      border-radius: 5px;
      color: $color-secondary;
      padding-left: 10px;
      padding-right: 5px;
      position: relative;
      z-index: 1;

      @include desktop-only {
         height: 52px;

         span {
            font-size: 48px;
         }
      }

      h2 {
         font-size: 13px;
         font-weight: 500;

         @include desktop-only {
            font-size: 18px;
         }
      }
   }

   &__content {
      background-color: $color-tertiary;
      border-radius: 0 0 5px 5px;
      margin-top: -5px;
      color: $color-primary;
      font-size: 12px;
      font-weight: 400;
      text-align: justify;
      padding: 20px 10px 10px 10px;
      position: relative;
      z-index: 0;
      overflow: hidden;
      animation: collapse 400ms ease-out;

      &--hide {
         animation: hide 400ms ease-out;
      }

      ul {
         padding-left: 0;
      }

      li {
         list-style: none;
      }

      @include desktop-only {
         font-size: 18px;
         flex: 1;
         display: flex;
         align-items: center;
      }
   }
}
