.drop-down {
   margin-top: 10px;
   margin-bottom: 10px;

   &__title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 30px;
      background-color: $color-primary;
      border-radius: 5px;
      color: $color-secondary;
      padding-left: 10px;
      padding-right: 5px;
      position: relative;
      z-index: 1;

      h2 {
         font-size: 13px;
         font-weight: 500;
      }

      span:hover {
         cursor: pointer;
      }
   }

   &__content {
      background-color: $color-tertiary;
      border-radius: 0 0 5px 5px;
      margin-top: -5px;
      color: $color-primary;
      font-size: 12px;
      font-weight: 400;
      text-align: justify;
      padding: 20px 10px 10px 10px;
      position: relative;
      z-index: 0;

      ul {
         padding-left: 0;
      }

      li {
         list-style: none;
      }
   }
}
